<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585207963279-86tv39nbhgerqb52cvsb6svqbia8jp6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585207963279-86tv39nbhgerqb52cvsb6svqbia8jp6k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>585207963279-0ueooqagn5o3akbr2rnhea7d94es4spl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvkrEarTUle3AtnQhxmzv318UeX-v4Mu4</string>
	<key>GCM_SENDER_ID</key>
	<string>585207963279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autocuidado</string>
	<key>PROJECT_ID</key>
	<string>proyectograduacion-d340a</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectograduacion-d340a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585207963279:ios:8e80537310f54946421afa</string>
</dict>
</plist>